@import url(../font/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ------------------- */
/* GENERIC */
/* ------------------- */

body {
	@apply bg-background-100 font-poppins text-white-100 text-base mx-6;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

*::-webkit-scrollbar {
	display: none;
}

input, select {
	@apply bg-transparent border border-white-300 rounded-xl text-white-100 py-4 px-5 w-full placeholder:text-white-200 focus:border-white-200 appearance-none;
}

.input-password {
	@apply relative pr-12;
}

select {
	background-image: url('../../assets/img/svg/dropdown.svg');
	background-position: right .625rem center;
	background-repeat: no-repeat;
	padding-right: 1.875rem;
}

.heightfix {
	padding-top: calc(env(safe-area-inset-top) + 1.25rem)
}

.loading-pulse {
	@apply animate-pulse bg-white-100/10;
}

/* CONTENT OF SETTING PAGE */
.content {
	h2 {
		@apply text-xl font-poppins_semibold uppercase mb-2;
	}

	h3 {
		@apply text-lg font-poppins_semibold uppercase mb-0.5;
	}

	p {
		@apply text-white-200 mb-7;
	}

	ul {
		@apply flex flex-col gap-0.5 text-white-200;

		li {
			@apply last:mb-7 before:content-[''] before:w-1.5 before:h-1.5 before:bg-white-200 before:rounded-full before:inline-block before:mr-2
		}
	}
}

/* ------------------- */
/* PATTERNS */
/* ------------------- */

/* BUTTON */
.generic-button {
	@apply bg-primary-100 text-center text-white-100 rounded-full py-4 px-12 text-lg font-poppins_semibold;
	/* box-shadow: 0px 0px 20px 0px #48000B; */
}


/* DROPSHADOW */
.generic-dropshadow {
	box-shadow: 3px 3px 0px 0px #48000B;
}

/* CARD */
.card-gradient {
	background: linear-gradient(135deg, rgba(116,14,29,1) 0%, rgba(83,14,116,1) 100%);
	transition: transform 0.1s ease-out;
}